page {
  background-color: #ffffff;
}
.montyly-payments {
  @import './index.rn.scss';
  overflow: hidden;
  height: 100vh;

  .content {
    box-sizing: border-box;
    height: 100vh;
  }

  .compared {
    box-sizing: border-box;
  }

  .no-checked {
    box-sizing: border-box;
  }
}
