@import './index.rn.scss';

._h_l_c-header {
  &-header-box {
    z-index: 3;

    .weapp-header {
      box-sizing: border-box;
    }
  }

  &-loan-info {
    box-sizing: border-box;
  }

  &-loan-box {

    &__amount {
      margin-top: -20px;
    }
  }
}
